* {
    margin: 0;
    padding: 0;
}

.info>p{
    margin: 0;
    width: 600px;
    display: inline-block;
    padding: 10px;
    text-indent: 20px;
}

.container{
    border:1px solid skyblue;
    width: 800px;
    height: 880px;
    background-color: #eeeeff;
    margin: auto;
}

.name{ 
text-align: center;
font-size: 24px;
}

.contacts {
    text-align: center;
}

.baseinfo{
    height: 16%;
}
.info{
    width: 600px;
    float: left;
}
.photo{
    width: 150px;
    height: 204px;
    float: left;
    padding: 10px;
    margin: 10px 14px auto 6px;
}
.summary{
    height: 12%;
}

.text_summary {
    text-align: center;
    font-size: 20px;
}

.p_summary {
    margin: 10px;
}

.skill{
    height: 34%;
}

.text_skill{
    text-align: center;
    font-size: 20px;
}

.ul_skill {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
    margin-top: -250px;
}

.experience{
    height: 15%;
}

.text_experience {
text-align: center;
font-size: 20px;
}

.p_experience {
    text-align: center;
    font-size: 18px;
    margin-top: -90px;
}

.education{
    margin-top: 15px;
    height: 15%;
}

.text_education {
    text-align: center;
    font-size: 20px;
}

.uni {
    margin-left: 15px;
    font-size: 18px;
    margin-top: -100px;
}

.seo {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
}

.english {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}